<!DOCTYPE html>
{% load static %}

<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.5.2.3.min.css' %}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    
    <title>Cashless kiosk</title>
            <script
          src="https://kit.fontawesome.com/845b24a10d.js"
          crossorigin="anonymous"
        ></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
          href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
          rel="stylesheet"
        />
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />


</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<script>
    const navDeport = {
        ip: "{{ ip_nav_deported }}",
        used: {{ used_ip_deported }}
    }
    
</script>
<header>
        <div class="logo-header blue lighten-3">logo Tibillet</div>
</header>

        <button
          id="toggleDarkModeBtn"
          class="z-depth-4 white-text waves-effect waves-light btn-toggle-dark-mode"
          onclick="toggleDarkMode()"
        >
        </button>
    

<div>
    {% block content %}
    {% endblock content %}
</div>
{% block script %}
{% endblock script %}

<footer>
    <div class="logo-footer blue lighten-3">logo Partener</div>
</footer>

<!-- Bootstrap JS, Popper.js, and jQuery -->
<script src="{% static 'js/hyperscript.0.9.12.min.js' %}" type="application/javascript"></script>
<script src="{% static 'js/main.js' %}" type="application/javascript"></script>
<script src="{% static 'js/index.js' %}" type="application/javascript"></script>
<script src="{% static 'js/htmx.min.js' %}" type="application/javascript"></script>
<script src="{% static 'bootstrap/bootstrap.5.2.3.bundle.min.js' %}" type="application/javascript"></script>


</body>
</html>
