{% extends 'base/base.html' %}
{% block content %}

    {% load static %}

    <div class="center-text">
    
        <div class="row">
            <div class="col-9">
                <h2>Do you confirme the payment of {{ total }} € in cash</h2>
            </div>
            <div class="col-9">
                
                <form method="post" id="form2_for_flask"
              action="http://127.0.0.1:6997/paiment/" class="form-group">
                    {% csrf_token %}
                        <input type="hidden" id="uuidFlask" name="uuid" value="{{ uuid }}"/>
                        <input type="hidden" id="totalFlask" name="total" value="{{ total }}"/>
                        <button type="submit" class="btn btn-success" id="submitBtn" 
                                style="width: 70px;">
                            YES
                        </button>
                </form>
                
            </div>
            
        </div>
    
    </div>

    <script>
        
    </script>



{% endblock content %}
