{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    
    
    <div id="mainPage1">
        <div id="mainPage2" hx-get="/" hx-trigger="load delay:45s">
            <div class="main-center">
            <section>
              <div class="card-panel-blink card-panel z-depth-1 blue lighten-5">
                <span class="" id="message"></span>
              </div>
            </section>
          </div>
        </div>
    </div>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
<script>
    const ipLocation = location.hostname
    let url = 'ws://localhost:8002/'
    if (navDeport.used === 1){
        url = `ws://${navDeport.ip}:8002/`
    }
    const socket = new WebSocket(url); // instead of localhost
    // const socket = new WebSocket("ws://127.0.0.1:8002/")
    socket.onopen = () => {
        console.log("Connection OK...");
        socket.send("reed_tag_id");
    };
    
    socket.onmessage = function(event) {
    try {
        // Convert the incoming message to JSON if needed
        const data = JSON.parse(event.data);
        if (data.message === 'Found'){
            // posting tag_id to recharge page
            fetch("http://glencho.casacam.net:57347/api/card/charg_card/", {
                method: "POST",
                body: JSON.stringify({
                    tag_id: data.tag_id
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                })
                .then(response => response.json())
                .then(data2 => {
                    document.getElementById('mainPage1').innerHTML = data2.html;
                    initializePaymentConfirmation(45000, 'rechargePg');
                })
            } else if (data.message === 'NotFound') {
            fetch("http://glencho.casacam.net:57347/error_scan")
                .then(response => response.json())
                .then(data3 => {
                    document.getElementById('mainPage1').innerHTML = data3.html;
                    initializePaymentConfirmation(15000,"errorPage");
                })
        }
        
    } catch (error) {
        console.error('Error parsing message:', error);
        console.log('Raw message:', event.data);
    }
    socket.onclose = (event) => {
        console.warn("WebSocket closed unexpectedly:", event);
        // Reconnect if needed
        reconnect();
};
};


</script>
    

{% endblock content %}

