{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="center-text">
        <div class="row">
            <div class="col-6">
                <h3>You have {{ amount }} on your wallet. </h3>
            </div>
            <div class="col-6">
                <h3>Choose the values that you want to add to your wallet</h3>
            </div>
        </div>
 
        <div class="row">
            <div class="col-5">
                <button type="button" class="btn btn-success" value="5"> 5 €</button>
            </div>
            <div class="col-5">
                <button type="button" class="btn btn-success" value="10"> 10 €</button>
            </div>
     
            <div class="col-5">
                <button type="button" class="btn btn-success" value="20"> 20 €</button>
            </div>
            <div class="col-5">
                <button type="button" class="btn btn-success" value="50"> 50 €</button>
            </div>
        </div>
        
    </div>


{% endblock content %}
