{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <section>
        <div class="main-center">
            <section>
              <div class="card-panel z-depth-1 blue lighten-5">
                <span class="dark-text"
                  >Veuillez suivre les indications du lecteur de carte.</span
                >
              </div>
    
              <div class="spinner-box">
                <div class="spinnerCB" id="spinnerCB"></div>
              </div>
            </section>
          </div>
    </section>

{% endblock content %}
